body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #007bff;
  color: white;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #fff;
}

/* Galleri specifikt */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 10px;
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
